//border-radius
$border-radius-small-img: 16px;
$border-radius-big-img: 10px;

//background
$cart-position: -280px -220px;
$right-direction: -230px -360px;
$left-direction: -200px -360px;
$down-direction: -360px
  0;
$up-direction: -340px
  0;
$share: -80px -100px;
$lock: -560px -20px;
$hamburger: -520px -60px;
$buy: -280px -220px;
$close:-170px -290px;